
# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/*
!.idea/runConfigurations
out/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
build/

# Gource
grav.perl

# Add other files here:
